/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary,
.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light {
  border: #ccc solid 1px;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: lightgray;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Navbar */
.navbar {
  background: var(--dark-color);
  border-bottom: solid 1px var(--primary-color);
}
.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.5rem;
}
.navbar ul {
  display: flex;
}
.topnav-right{
  float:right;
}
.navbar-light .navbar-brand{
  color: #fff;
}

.navbar-light .navbar-brand:hover{
  color: var(--primary-color);
}

.navbar-light .navbar-brand:active{
  color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link {
  
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.50rem;
  
}

.navbar-light .navbar-nav .nav-link:hover {
  
  color: var(--primary-color);

}

#navitemwhite{
  color: white;
}

#navitemwhite:active{
  color: var(--primary-color);
}


.navbar-light .navbar-toggler {
  color: white;
  border-color: white;
}












/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 2.5rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.50rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
} */

/* Landing Page */


.landing {
  position: relative;
  background: url('./img/llamalandingtwo.jpg') no-repeat center center/cover;
  height: 100vh;
}
.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*Pratik page*/
#aboutme {
  padding: 55px 10px;
  border-bottom: 1px solid #dcd9d9;
}

.aboutpratik {
  position: relative;
  background: url('./img/atlanta.jpg') no-repeat center center/cover;
  height: 100vh;
}

#pratikimage{
  width: 100%;
  border: 2px solid black
}

#computerimage {
  width: 100%;
  height: 100%;
}
#pratikcontainer {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.imageborder {
  display: block;
  border-radius: 100%;
  box-sizing: border-box;
  background-color: #DDD;
  border: 3px solid #cfd8dc;
}

#pratikfrontendreason {
  padding: 40px 10px;
  background: #e0dcdc;
}

#pratikexperience {
  padding: 50px 15px;
  text-align: center;
  border-bottom: 1px solid #dcd9d9;
}

.pratikexptimeline {
  margin: 30px auto 0 auto;
  position: relative;
  max-width: 1000px;
}

.pratikexptimelinesection {
  position: relative;
  display: block;
  vertical-align: top;
  margin-bottom: 1rem;
  
}

.pratikexptimelinedate {
  width: 260px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 10px;
  font-weight: 300;
  color: #374054;
}

.pratikexptimelinecontent {
  margin-left: 350px;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 15px;
  border-radius: 3px;
  text-align: left;
}

.pratikexpicon {
  position: relative;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #3498db;
  border-radius: 50%;
  float: left;
  z-index: 99;
  margin-left: 280px;
}

#pratikeducation {
  padding: 50px 15px 20px 15px;
  border-bottom: 1px solid #dcd9d9;
  text-align: center;
  background: #e0dcdc;
}

.pratikeducationitem {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid black;
  text-align: left;
}

.pratikeducationitem span {
  color: #858483;
  float: right;
  font-size: 60%;
  margin-top: 1.5%;
}
#pratikskills {
  padding: 50px 15px;
  text-align: center;
}
#pratikskills ul {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
}
#pratikskills li {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: #374054;
  background: #e4e4ea;
  list-style: none;
  cursor: default;
  font-size: 1.2em;
}

/*Lama facts, jokes, gifs Page*/
.aboutllamas {
  position: relative;
  background: url('./img/llamapage.jpg') no-repeat center center/cover;
  height: 100vh;
}
#llamafunfacts {
  padding: 50px 15px;
}
#llamajokes {
  padding: 50px 15px;
  background: #e0dcdc;
}
#llamagifs {
  padding: 50px 15px;
}

/*footer*/
.footer-style {
  background: #f5f5f5;
  margin-bottom: 0;
}
.footer-container {
  width: auto;
  padding: 20px 30px;
  text-align: center;
}

.footer-container a {
  color: black;
}

.footer-container a:hover {
  color: var(--primary-color);
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }
}
